.header{
    background-color:#99ffcc;
    display: flex;
    justify-content:flex-start;
}

.info{
    background-color:#99ffcc;
    display: flex;
    justify-content:flex-start;
}

body{
    background-color: rgb(0,0,0); 
}

p{
    color:#99ffcc;
    font-family: comic sans ms;
    font-weight: italic;
}
img{
    border: 5px solid #99ffcc;
    border-radius: 40px;
    
}

.text{
    color:#99ffcc;
    font-family: comic sans ms;
    font-weight: italic;
    display: flex;
    justify-content:center;
}